# Dependencies
node_modules/

# Environment files
.env
**/.env
**/.env.local
**/.env.production
**/.env.development

# Build folders
build/
dist/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Vercel
.vercel/

# Misc
coverage/
.cache/